.about-container {
    background-color: var(--color-background);
    width: 80%;
    max-width: 800px;
    padding: 30px;
    box-shadow: 0 2rem 3rem var(--color-light);
    border-radius: 10px;
    position: relative;
    left: 10%;
    margin-right: 100px;
    margin-top: 10px;
    top: 25px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.about-container h1 {
    text-align: center;
    color: var(--color-dark);
}

.about-container p {
    color: var(--color-dark);
    line-height: 1.6;
    margin-top: 20px;
}

.tooltip-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tooltip-container .tooltip {
    display: none;
    background-color: #333;
    color: var(--color-dark);
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: -30px;
    right: 0;
    white-space: nowrap;
}

.tooltip-container:hover .tooltip {
    display: block;
}

.tooltip-container .text {
    margin-left: 10px;
    color: var(--color-dark);
}

.about-container:hover {
    transform: translateY(-10px);
}

.card-container {
    margin-top: 20px;
}

.card {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-background);
    border: 1px solid rgba(255, 255, 255, 0.089);
    box-shadow: 0 2rem 3rem var(--color-light);
}

.contact-card {
    background-color: #f0f8ff;
}

.contact-card h2 {
    margin-bottom: 10px;
    font-size: 1.4em;
    color: var(--color-dark);
    text-align: center;
}

.contact-info {
    font-size: 1em;
    color: var(--color-dark);
}

.contact-info p {
    margin: 5px 0;
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .about-container {
        padding: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    .text {
        font-size: 1rem;
    }

    p {
        font-size: 0.875rem;
    }

    .card {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .about-container {
        padding: 10px;
        left: 5px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .text {
        font-size: 0.875rem;
    }

    p {
        font-size: 0.75rem;
    }

    .card {
        padding: 10px;
    }
}
