.card-container {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: mediumturquoise;
    color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card.large {
    height: 450px;
}

.card.medium {
    height: 400px;
}

.card.small {
    height: 350px;
}

.card h3 {
    margin: 0 0 15px;
    font-size: 1.5em;
    color:var(--color-dark);
}

.card p {
    font-size: 1em;
    margin-top: 15px;
}

canvas {
    max-width: 100%;
    max-height: 60%;
}

@media (max-width: 768px) {
    .card h3 {
        font-size: 1.2em;
    }

    .card p {
        font-size: 0.9em;
    }
}