/* General Card Styling */
.container1 {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  gap: 20px;
  justify-content: center;
  padding: 1px;
}
h1{
  width: 100%;
  color:var(--color-dark);
  text-align: center;
}
.card {
  display: flex;
  flex-direction: column;
  height: auto; /* Adjust height based on content */
  width: 400px; /* Adjust width if necessary */
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-background);
  border: 1px solid rgba(255, 255, 255, 0.089);
  cursor: pointer;
  box-shadow: 0 2rem 3rem var(--color-light);
  margin: 10px;
}

.card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--color-dark);
}

.card li:last-child {
  border-bottom: none; /* No border for the last item */
}

.card .projectTop {
  font-weight: 700;
  font-size: 0.9em;
  letter-spacing: 1.2px;
  color:var(--color-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .process,
.card .SoilInfromation,
.card .weather,
.card .plantDescrib {
  margin-top: 10px;
}

.card .btn {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #63b3ed; /* Button color */
  color:var(--color-dark);
  cursor: pointer;
  text-align: center;
}

/* Crop Mini-Management Specific */
.CropManageMent {
  background-color:  var(--color-background);
}

.plantDescrib ul {
  padding: 0;
}

.plantDescrib li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.plantInfo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.plantInfo .material-icons-sharp {
  font-size: 24px;
  color: #63b3ed;
  margin-right: 10px;
}

.plantInfo .text {
  font-size: 1em;
  color:var(--color-dark);
}

.timelineTime {
  font-size: 0.9em;
  font-weight: bold;
  color:var(--color-dark);
  text-align: right;
}

/* Weather Card Specific */
.weatherCard .weatherIconName {
  display: flex;
  align-items: center;
}

.weatherCard .tasksStar {
  font-size: 20px;
  color: #63b3ed;
  margin-left: 10px;
}

.weatherCard .weatherName {
  margin-left: 10px;
}

/* Other Cards Specific */
.farmViewCard, .soilHealthCard, .weatherCard, .Reminder, .AgroIntel {
  background-color: var(--color-background);
  display: flex;
  flex-wrap:wrap;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container1 {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: 600px;
  }
}
